body {
 background-color: #5100e6;
 font-family: Arial, sans-serif;
 }
 
 h1 {
 color: #000000;
 text-align: center;
 }
 
 p {
 color: #000000;
 font-size: 16px;
 line-height: 1.5;
}

img {
display: block;
margin: 0 auto;
 border-radius: 10px;
}